PLLJ_PLLSPE_INFO.txt
*.bak
*.asm.rpt
*.map.rpt
*.sta.rpt
*.fit.rpt
*.eda.rpt
*.flow.rpt
*.summary
*.smsg
*.qws
fpgagen.done
fpgagen.rbf
fpgagen.sof
fpgagen.pin
fpgagen.pof
fpgagen.cdf
fpgagen.jdi
fpgagen_assignment_defaults.qdf
db/
incremental_db/
greybox_tmp/
